{% extends "main.html" %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand" href="#">Mountain Coder</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form action="/search" method="get" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<div class="container my-3">
  <h1 class="my-3">Welcome to Mountain Coders</h1>
  {% for item in items %}
  <div class="my-2">
    <h3 class="mt-0"><a href="/blogpost/{{item.slug}}">{{ item.title}}</a></h3>
    <div class="my-2">{{item.short_desc|slice:300}}</div>
    <a href="/blogpost/{{item.slug}}"
      ><button type="button" class="btn btn-outline-primary">Read more...</button></a
    >
  </div>
  {% endfor %}
  
  <div class="my-3">
    {% if prev %}
    <button type="button" class="btn btn-primary "><a href="/blog?page={{prev}}" class="text-light text_decoration-none"> &laquo; Previous</a></button>
    {% else %}
     <button type="button" class="btn btn-primary"><a class=" text-light text_decoration-focus-none"href="#"> &laquo; Previous</a></button>
    {% endif %}

    {% if nxt %}
    <button type="button" class="btn btn-primary float-right"><a class="text-light text_decoration-focus-none"href="/blog?page={{nxt}}">Next &raquo;</a></button>
    {% else %}
     <button type="button" class="btn btn-primary float-right"><a class="text-light text_decoration-focus-none"href="#"> Next &raquo;</a> </button>
    {% endif %}
  </div>


</div>
</div>
{% endblock body %}