.navbar-custom{
    background-color: #001f3f;
   

}
.navbar-custom .navbar-brand{
    color: crimson !important;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.navbar-custom .nav-item,
.navbar-custom .nav-link{
  
  font-size: 1.1rem;            
  font-weight: 500;               
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;             
}

